---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Services from FinEdge" description="Services offered by FinEdge">
    <section>
        <h2 class="text-4xl font-bold mb-4 mt-4">Our Services</h2>
        <p class="text-gray-600">We offer a range of innovative financial services to cater to your needs.</p>
      </section>
  
      <section class="mt-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <div class="bg-white p-6 rounded shadow">
            <h3 class="text-xl font-bold mb-4">Personal Finance</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit, ligula eu
              aliquam consectetur, lectus est faucibus erat.</p>
          </div>
          <div class="bg-white p-6 rounded shadow">
            <h3 class="text-xl font-bold mb-4">Business Solutions</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit, ligula eu
              aliquam consectetur, lectus est faucibus erat.</p>
          </div>
          <div class="bg-white p-6 rounded shadow">
            <h3 class="text-xl font-bold mb-4">Investment Strategies</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit, ligula eu
              aliquam consectetur, lectus est faucibus erat.</p>
          </div>
          <div class="bg-white p-6 rounded shadow">
            <h3 class="text-xl font-bold mb-4">Mobile Banking</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit, ligula eu
              aliquam consectetur, lectus est faucibus erat.</p>
          </div>
          <div class="bg-white p-6 rounded shadow">
            <h3 class="text-xl font-bold mb-4">Financial Planning</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit, ligula eu
              aliquam consectetur, lectus est faucibus erat.</p>
            </div>
           <div class="bg-white p-6 rounded shadow">
            <h3 class="text-xl font-bold mb-4">Risk Management</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit, ligula eu
              aliquam consectetur, lectus est faucibus erat.</p>
          </div>
        </div>
      </section>
</MainLayout>