---
import MainLayout from "../layouts/MainLayout.astro";
import {Icon} from "astro-icon";
---

<MainLayout title="Home" description="My Home Page">
    <h2 class="text-4xl font-bold mb-4">Oops! Page Not Found</h2>
    <p class="text-gray-600">We're sorry, but the page you are looking for could not be found.</p>
    <img src="404-image.jpg" alt="404 Error" class="mt-8 mx-auto">
    <a href="index.html"
      class="mt-8 inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Go to Home
      Page</a>
</MainLayout>

