---
import {Icon} from "astro-icon";
---


<header class="bg-blue-500 text-white py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
      <h1 class="text-xl font-bold">Fintech Startup</h1>
      <nav>
        <a href="/" class="ml-4">Home</a>
        <a href="/AboutUs" class="ml-4">About</a>
        <a href="/ContactUs" class="ml-4">Contact</a>
        <a href="/Services" class="ml-4">Services</a>
      </nav>
    </div>
  </header>
